body{
	background-color: lightblue;
	font-style: italic;
}
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background:khaki;
	border-radius: 20px;
}
.navBox{
	display: flex;
	flex-direction: column;
	background: khaki;	
	border-radius: 20px;
}
.box{
	display: flex;
	flex-direction: column;
	background: khaki;	
	border-radius: 20px;
	box-shadow: 1px 1px 10px 5px black;
}
.navText{
	color:black;
	font-size:4rem;
	text-decoration: none;
}
@media only screen and (max-width: 850px){
	.navbar{
		flex-direction: column;
	}
}